{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Университеты РК</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

<header class="top-header">
    <nav class="nav-links">
        <a href="{% url 'chat_with_ai' %}" class="nav-item">Помощь ИИ</a>
        <a href="{% url 'compare_list' %}" class="nav-item">Сравнить университеты</a>
    </nav>
    <h1 class="title">Университеты РК</h1>
</header>

<main class="cards-container">
    {% for university in universities %}
        <a class="card" href="{% url 'university_detail' university.id %}">
            
            {% if university.main_image %}
                <div class="image-wrapper">
                    <img src="{{ university.main_image.url }}" alt="{{ university.title }}">
                </div>
            {% endif %}

            <h2 class="card-title">{{ university.title }}</h2>

            <div class="ranking-list">
                {% for ranking in university.rankings.all %}
                    <p>
                        Рейтинг по <i>{{ ranking.system }} {{ ranking.year }}</i>:
                        <b>
                            {% if ranking.rank_to %}
                                {{ ranking.rank_from }}–{{ ranking.rank_to }}
                            {% else %}
                                {{ ranking.rank_from }}
                            {% endif %}
                        </b>
                    </p>
                {% endfor %}
            </div>

        </a>
    {% empty %}
        <p class="empty-message">Университеты не найдены.</p>
    {% endfor %}
</main>

<footer>
    <p>Команда: AIronic</p>
</footer>

</body>
</html>


