@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&display=swap');
/* Цветовая гамма
#04202c - Лес
#304040 - Вечно-зеленый
#5b7065 - Сосна
#c9d1c8 - Туман
*/

body {
    margin: 0;
    font-family: "Cuprum", sans-serif;
    background-color: #04202c;
    color: #c9d1c8;
}

header {
    text-align: center;
    padding: 30px 0;
    background-color: #304040;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #f9fff8;
}

.cards-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 25px;
    padding: 40px 20px;
}

.card {
    width: 350px; /* фиксированная ширина */
    padding: 20px;
    background-color: #5b7065;
    border-radius: 10px;
    text-decoration: none;
    color: #e4e9e3;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:50px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}


::-webkit-scrollbar {
    width: 12px; 
    height: 12px; 
}

::-webkit-scrollbar-track {
    background-color: #072d3f; 
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); 
}


::-webkit-scrollbar-thumb {
    background-color: #ffaa50; 
    border-radius: 10px;
    border: 2px solid #072d3f;
}


::-webkit-scrollbar-corner {
    background-color: #ff9a43; 
}